.header{
    width:90%;
    max-width:75rem;
    margin: auto;
    text-align: center;
    font-size:1.5rem;
    color:#ddd6cb;
}

.highlight{
    background:linear-gradient(90deg, #ffcec1, #ff8a05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main{
    width:90%;
    max-width: 50rem;
    margin: auto;
    text-align: center;
}

.perks{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin:5rem 0 0 0;
}

.perks img{
    width:12rem;
    height:12rem;
}

